<div id="representante-{{id}}" class="representante {{partido}} clearfix">
	<a href="/actores/{{stub}}/{{id}}" title="Detalles de {{nombre}}">
		<div class="headshot-container">
			<div class="headshot {{partido}}">
				<!-- /foto-de/{{stubImagen}}.jpg -->
				<div class="headshot-image" style="background-image:url(/actores/imagen/{{imagen}});"></div>
			</div>
		</div>
		<div class="representante-sumario">
			<p class="byline">{{congreso}}, {{distrito}}</p>
			<h2>{{nombre}}</h2>
			<span class="partido">{{partido}}</span>
			{{#eleccion}}
			<span class="eleccion">({{eleccion}})</span>
			{{/eleccion}}
		</div>
		<div class="acciones-contacto">
			<a href="/telefono/{{stub}}" class="icono contacto">telephone</a>
			<a href="mailto:{{correo}}" class="icono contacto" >email</a>
		</div>

		<div class="representante-detalles">
		</div>
	</a>
</div>