// https://raw.github.com/jaimerodas/attache/master/_functions.scss
@mixin clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

// 
// CSS3 Madres
// 
@mixin rounded($vert, $horz, $radius: 5px) {
	border-#{$vert}-#{$horz}-radius: $radius;
	-moz-border-radius-#{$vert}#{$horz}: $radius;
	-webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
@mixin round-top($radius: 5px) {
	@include rounded(top, left, $radius);
	@include rounded(top, right, $radius);
}
@mixin round-bottom($radius: 5px) {
	@include rounded(bottom, left, $radius);
	@include rounded(bottom, right, $radius);
}

@mixin round-left($radius: 5px) {
	@include rounded(top, left, $radius);
	@include rounded(bottom, left, $radius);
}
@mixin round-right($radius: 5px) {
	@include rounded(top, right, $radius);
	@include rounded(bottom, right, $radius);
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}
@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	   -moz-box-shadow: $args;
	        box-shadow: $args;
}
@mixin box-sizing($arg) {
	-webkit-box-sizing: $arg;
	   -moz-box-sizing: $arg;
	        box-sizing: $arg;
}

@mixin keyframes($name) {
	 @-webkit-keyframes $name {
        @content;
    }
 
    @-moz-keyframes $name {
        @content;
    }
 
    @-o-keyframes $name {
        @content;
    }
 
    @keyframes $name {
        @content;
    }
}

@mixin animation($args...) {
	-webkit-animation: $args;
	   -moz-animation: $args;
	     -o-animation: $args;
	        animation: $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	   -moz-transition: $args;
	     -o-transition: $args;
	        transition: $args;
}
@mixin transition-transform($duration, $timingfn) {
	-webkit-transition: -webkit-transform $duration $timingfn;
	   -moz-transition: -moz-transform $duration $timingfn;
	     -o-transition: -o-transform $duration $timingfn;
	        transition: transform $duration $timingfn;
}
@mixin scale($ratio) {
	-webkit-transform: scale($ratio);
	   -moz-transform: scale($ratio);
	    -ms-transform: scale($ratio);
	     -o-transform: scale($ratio);
	     	transform: scale($ratio);
}

@mixin transform($args...) {
	-webkit-transform: $args;
	   -moz-transform: $args;
	    -ms-transform: $args;
	     -o-transform: $args;
	     	transform: $args;
}

@mixin transform-origin($args...) {
	-webkit-transform-origin: $args;
	   -moz-transform-origin: $args;
	    -ms-transform-origin: $args;
	     -o-transform-origin: $args;
	     	transform-origin: $args;
}

@mixin rotate($angle) {
	-webkit-transform: rotate($angle);
	   -moz-transform: rotate($angle);
	    -ms-transform: rotate($angle);
	     -o-transform: rotate($angle);
	     	transform: rotate($angle);
}
@mixin user-select($tipo: none) {
	-webkit-user-select: $tipo;
	   -moz-user-select: $tipo;
	    -ms-user-select: $tipo;
}

//
// Gradients
//
@mixin reflect-gradient($edge, $center, $direction:top) {
	$ie-start: ie_hex_str($edge);
	$ie-stop:  ie_hex_str($center);
	background-color: $center;
	background-color: transparent;
	background-image: -moz-linear-gradient($direction, $edge, $center, $edge); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, $edge 0%, $center 50%, $edge 100%); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient($direction, $edge 0%, $center 50%, $edge 100%); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($direction, $edge 0%, $center 50%, $edge 100%); // Opera 11.10
    background-image: linear-gradient($direction, $edge 0%, $center 50%, $edge 100%); // Standard, IE10
    background-repeat: repeat-x;
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$ie-start}', EndColorStr='#{$ie-stop}', GradientType=0)"; // IE9 para abajo
}

@mixin vertical-gradient($start, $stop) {
	$ie-start: ie_hex_str($start);
	$ie-stop:  ie_hex_str($stop);

	background-color: $stop;
	background-color: transparent;
	background-image: -moz-linear-gradient(top, $start, $stop); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($start), to($stop)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $start, $stop); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $start, $stop); // Opera 11.10
    background-image: linear-gradient(to bottom, $start, $stop); // Standard, IE10
    background-repeat: repeat-x;
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$ie-start}', EndColorStr='#{$ie-stop}', GradientType=0)"; // IE9 para abajo
}
@mixin horizontal-gradient($start, $stop) {
	$ie-start: ie_hex_str($start);
	$ie-stop:  ie_hex_str($stop);

	background-color: $stop;
	background-color: transparent;
    background-image: -moz-linear-gradient(left, $start, $stop); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($start), to($stop)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $start, $stop); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $start, $stop); // Opera 11.10
    background-image: linear-gradient(to right, $start, $stop); // Standard, IE10
    background-repeat: repeat-x;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$ie-start}', EndColorStr='#{$ie-stop}', GradientType=1)"; // IE9 para abajo
}
@mixin gradient-bar($start, $stop, $textColor, $textShadow) {
	color: $textColor;
	text-shadow: $textShadow;

	@include vertical-gradient($start, $stop);
	border-color: $stop $stop darken($stop, 15%);
}

@mixin flex-container($direction:row, $justify:center, $align:center) {
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         flex;

	-webkit-flex-direction: $direction;
	   -moz-flex-direction: $direction;
	    -ms-flex-direction: $direction;
	     -o-flex-direction: $direction;
	        flex-direction: $direction;

	-webkit-justify-content: $justify;
	   -moz-justify-content: $justify;
	    -ms-justify-content: $justify;
	     -o-justify-content: $justify;
	        justify-content: $justify;

	-webkit-align-content: $align;
	   -moz-align-content: $align;
	    -ms-align-content: $align;
	     -o-align-content: $align;
	        align-content: $align;
}

@mixin flex-item($grow:0, $shrink:1, $basis:auto) {
	-webkit-flex: $grow $shrink $basis;
	   -moz-flex: $grow $shrink $basis;
	    -ms-flex: $grow $shrink $basis;
	     -o-flex: $grow $shrink $basis;
	        flex: $grow $shrink $basis;
}

// 
// Media Queries
//
@mixin hidpi($ratio: 1.3) { // 1.3 para targetear el Nexus 7 (2012)
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
           only screen and (-o-min-device-pixel-ratio: $ratio/1),
           only screen and (min--moz-device-pixel-ratio: $ratio),
           only screen and (min-device-pixel-ratio: $ratio),
           only screen and (min-resolution: #{round($ratio*96)}dpi),
           only screen and (min-resolution: #{$ratio}dppx) {
      @content;
    }
}


// 
// Puto IE puto
// 
@mixin ie7-inline-block {
	*display: inline;
	*zoom: 1;
}
@mixin ie7-restore-left-whitespace {
	*margin-left: 0.3em;
	&:first-child {
		*margin-left: 0;
	}
}