@import "attache";

.actor-sumario .camara {
	text-transform: uppercase;
	position: absolute;
	left: -60px;
	top: 60px;
	display: block;
	width: 110px;
	text-align: center;
	@include rotate(-90deg);
	color: $gris-claro;
}

.headshot-container {
	float: left;
	width: auto;
	margin-right: 20px;
	@include transition(all .5s ease-in-out);
}
.headshot {
	width: 110px;
	height: 110px;
	border-radius: 110px;
	border: 5px solid #eee;
	margin: 0 auto;
	@include transform(scale(1));
	@include transition(all .5s ease-in-out);

	&.pan   {border-color: #06338e;}
	&.prd   {border-color: #E9C40E;}
	&.pri   {border-color: #E8150E;}
	&.pvem  {border-color: #03A316;}
	&.panal {border-color: #0EE8E8;}
	&.mc    {border-color: #FFAE00;}
	&.pt    {border-color: #A30303;}
}

.headshot-image {
	width: 110px;
	height: 110px;
	border-radius: 110px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	background-size: 100%;
	@include transition(all .2s ease-in-out);
}



.representante {
	position: relative;
	margin: 1em 0;
	@include transition(all .5s ease-in-out);
	-webkit-box: border;
	padding: 10px;
	@include clearfix();
}

.representante:hover {
	
	& a {
		color: $rosa;
	}
	

	& .headshot-image {
		@include transform(scale(1.1));
		@include transition(all .2s ease-in-out);
	}
	
}

.representante a {
	color: #333;
	text-decoration: none;
}

.byline {
	font-weight: 100;
}

.partido {
	text-transform: uppercase;
}
.acciones-contacto {
	float: right;
}


.representante-detallado .acciones-contacto {
	display: none;
}

.representante-detallado .representante-sumario {
	text-align: center;
	display: block;
	padding-top: 20px;
	-webkit-animation: sumario 1s ease-in-out;
}

.flexible {
	@include flex-container(row, space-between);

	.flex-item {
		@include flex-item(1);
	}
}

#desempeno {

	& h3 {
		line-height: 40px;
		text-transform: uppercase;
	}

}

.numeralia {
	text-align: center;
	& .cantidad {
		color: $gris-medio;
		font-size: 48px;
		font-weight: bold;
		display: block;

	}

	& .text {
		font-size: 14px;
		font-weight: thin;
	}
}

.cantidad {
	&.safe		{ color: #03A316; }
	&.cagandola { color: #FFA316; }
	&.zurrandola{ color: #ff0000; }
	&.diarrea	{ color: #600000; }
}

@media screen and (max-width: 660px) {
	.headshot {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		@include transition(all .5s ease-in-out);
	}

	.headshot-image {
		width: 70px;
		height: 70px;
		border-radius: 70px;
		@include transition(all .5s ease-in-out);
	}

	.actor-sumario .camara {
		left: -35px;
		top: 45px;
		width: 70px;
		font-size: 13px;
	}
}