<div id="cover" class="inactive">
	<script type="text/html" id="tpl-detalles" class="render-template">
		<%= erb :"templates/detalles" %>
	</script>
</div>
<noscript>
	<h1>Necesitas habilitar Javascript :(</h1>
</noscript>

<% if defined? request_data %>
<script>
window.request_data = <%= request_data.to_json; %>;
</script>
<% end %>

<div id="mapa" class="loading">
	<div id="instrucciones-mapa">Ubica tu domicilio en el mapa y presiona el botón para encontrar a tus representantes.</div>

	<div id="mapa-loading">Buscándote...</div>
	<div id="mapa-canvas"></div>
</div>

<div id="mi-ubicacion" class="boton-multi">
	<a href="#" class="" id="aqui-vivo">Aquí vivo</a>
	<a href="#" class="" id="localizame">
		<span class="icono">locate</span>
	</a>
</div>

<section class="inside">

	<nav id="filtros">
		<a href="#" class="filtro activo" data-filtro="local">
			<span class="helper-text">Cámara</span>
			<span class="tipo">Local</span>
		</a>

		<a href="#" class="filtro activo" data-filtro="diputados">
			<span class="helper-text">Cámara de</span>
			<span class="tipo">Diputados</span>
		</a>

		<a href="#" class="filtro activo" data-filtro="senado">
			<span class="helper-text">Cámara de</span>
			<span class="tipo">Senadores</span>
		</a>
	</nav>

	<section id="representantes">
		<script type="text/html" id="tpl-representante" class="render-template">
			<%= erb :"templates/representante" %>
		</script>
	</section>

	<p>Si quieres saber más de este asunto, <a href="/acerca-de">pásele, marchante</a>!</p>
</section>

<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>